html {
    background-color: rgb(223, 223, 223);
    display:flex;
    justify-content: center;
}

body{
    width:1000px;
    background-color:rgb(53, 53, 53);
    margin:0px;
    display:flex;
    flex-direction: column;
}

.header{
    height:200px;
    width:1000px;
    background-image: url(images/dots.png), url(images/header.jpg);
    background-size:40px, cover;
    background-repeat: repeat, no-repeat;
    background-color: rgb(89, 160, 89);
    display:flex;
    justify-content: center;
    align-items: center;
}

.text-scroll{
    height:20px;
    width:100%;
    background-color:rgb(59, 59, 59);
    display:flex;

    color:green;
    font-family: 'Syne Mono', monospace
}

.main-body{
    display:flex;
}

.logo-top{
    font-family: 'Fugaz One', cursive;
    font-size: 130px;
    color:white;

    background-image: linear-gradient(170deg, rgb(240, 240, 240), rgb(209, 209, 209), rgb(161, 161, 161));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size:100%;

    display:flex;
    position:absolute;
    top:100px;
    user-select: none;
}

.logo-bottom{
    font-family: 'Fugaz One', cursive;
    font-size: 130px;
    color:rgb(255, 255, 255);
    font-weight: 900;

    -webkit-text-stroke: 20px rgb(255, 255, 255);
    text-shadow: 0 0 5px #fff,
                 0 0 10px #fff, 
                 0 0 20px rgba(0, 0, 0, 0.3), 
                 0 0 30px rgba(0, 0, 0, 0.3), 
                 0 0 40px rgba(0, 0, 0, 0.3), 
                 0 0 55px rgba(0, 0, 0, 0.3), 
                 0 0 70px rgba(0, 0, 0, 0.3);

    display:flex;
    position:absolute;
    top:100px;
    user-select: none;
}