html {
    background-image:url(images/dots.png),linear-gradient(180deg,rgb(19, 19, 19),black);
    background-size:40px, cover;
    background-repeat: repeat, no-repeat;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    font-family:'News Cycle', sans-serif
}

body{
    /* background-color:rgb(53, 53, 53); */
    margin:0px;
    display:flex;
    justify-content: center;
}
.page-center{
    display:flex;
    flex-direction: column;
    margin:0px;
    width:1000px;
    flex-shrink:0;
    background-color:rgb(26, 26, 26);
}
.sidebar-left{
    display:flex;
    flex-grow:1;
}
.sidebar-right{
    display:flex;
    flex-grow:1;
}

.header{
    height:100px;
    width:1000px;

    background-image: url(images/dots.png), url(images/header2.png);
    background-size:40px, cover;
    background-repeat: repeat, no-repeat;
    background-color: rgb(89, 160, 89);

    display:flex;
    justify-content: center;
    align-items: center;
}

.text-scroll{
    height:26px;
    width:100%;
    background-color:rgb(19, 19, 19);
    display:flex;
    box-sizing: border-box;
}
.text-scroll p{
    color:green;
    font-family: 'Syne Mono', monospace;
    padding:3px;
    overflow:hidden;
    user-select: none;
    text-shadow: 0 0 5px green,
                 0 0 10px rgba(0, 128, 0, 0.5);
    
    margin:0px;
}

.main-body{
    display:flex;
}

.logo{
    display:flex;
    flex-basis:content;
    justify-content: center;

    width:500px;
    height:200px;
}

.logo-top{
    font-family: 'Fugaz One', cursive;
    font-size: 130px;
    color:white;

    background-image: linear-gradient(170deg, rgb(145, 145, 145), rgb(134, 134, 134), rgb(66, 66, 66));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size:100%;

    display:flex;
    position:absolute;
    top:5px;
    user-select: none;
}

.logo-bottom{
    font-family: 'Fugaz One', cursive;
    font-size: 130px;
    color:rgb(255, 255, 255);
    font-weight: 900;

    -webkit-text-stroke: 20px rgb(255, 255, 255);
    text-shadow: 0 0 5px #fff,
                 0 0 10px #fff, 
                 0 0 20px rgba(0, 0, 0, 0.3), 
                 0 0 30px rgba(0, 0, 0, 0.3), 
                 0 0 40px rgba(0, 0, 0, 0.3), 
                 0 0 55px rgba(0, 0, 0, 0.3), 
                 0 0 70px rgba(0, 0, 0, 0.3);

    display:flex;
    position:absolute;
    top:5px;
    user-select: none;
}

.nav-bar{
    background-color: rgb(43, 43, 43);
    width:150px;
    height:100vh;

    font-family:'DotGothic16', monospace;

    display:flex;

    background-image: url(images/dots.png), url(images/sidebar.png);
    background-size:40px, cover;
    background-repeat: repeat, no-repeat;
}

::selection{
    background-color: rgb(143, 42, 59);
    color:white;
}

ul{
    padding-left: 30px;
}
.stickynav{
    position:fixed;
    /*top:10px;*/
}
li{
    padding-left:5px;
    padding-bottom:5px;
}
li::marker{
    content:"✦ ";
    color:rgb(211, 143, 188);
}
.youtube::marker{
    color:rgb(207, 112, 112);
}
.twitter::marker{
    color:rgb(130, 166, 219);
}
.github::marker{
    color:rgb(209, 209, 209);
}
.twitter{
    margin-top:12px;
}


a{
    text-decoration: dashed;
    color:rgb(185, 185, 185);
}
a:hover{
    color:rgb(134, 134, 134);
}
 li a{
    transition: margin-left 0.1s;
 }
 li a:hover{
    margin-left:5px;
 }

 .main-text{
    padding:20px;
    padding-top:40px;
    color:rgb(131, 131, 131);
    width:800px;
 }


 /*BLOG POST BLOCK ------------------------------------------------------ :)*/
 .blog-post{
    display:flex;
    flex-direction: column;
 }

 .title-block{
    display:flex;
    flex-direction: column;
 }
 .subtitle{
    font-family:'DotGothic16', monospace;
    color:rgb(77, 77, 77);
 }
 h2{
    font-size: 30px;
    margin:0px;

    padding-top:0px;
    padding-bottom:5px;

    border-bottom:rgb(141, 81, 138) dashed 2px;
 }
 .post-date{
    padding-top:5px;
    font-family:'DotGothic16', monospace;
    color:rgb(141, 81, 138);
 }
.post-body{
    display:flex;
    flex-direction: column;
    width:800px;

    padding-bottom: 20px;
    border-bottom:rgb(141, 81, 138) dashed 2px;
}
.post-body p{
    text-indent: 35px;
    width:700px;
    margin:8px;
}
.post-body .first-paragraph{
    text-indent: 0px;
}
.first-paragraph::first-letter{
    color: rgb(141, 81, 138);
    background-color: rgb(20, 20, 20);
    font-size: 250%;
    padding: 6px 3px;
    margin-right: 6px;
    float: left;
}